        .pricing {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .plan {
        background-color: #fff;
        padding: 2.5rem;
        margin: 12px;
        border-radius: 5px;
        text-align: center;
        transition: 0.3s;
        cursor: pointer;

        h2 {
          font-size: 22px;
          margin-bottom: 12px;
        }

        .price {
          margin-bottom: 1rem;
          font-size: 30px;
        }

        ul.features {
        list-style-type: none;
        text-align: left;
        li {
        margin: 8px;
        .fas {
          margin-right: 4px;
        }
        .fa-check-circle {
          color: #6ab04c;
        }
        .fa-times-circle {
          color: #eb4d4b;
        }
      }
      }

      button {
      border: none;
      width: 100%;
      padding: 12px 35px;
      margin-top: 1rem;
      background-color: #6ab04c;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      }

      &.popular {
      border: 2px solid #6ab04c;
      position: relative;
      transform: scale(1.08);
      span {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #6ab04c;
        color: #fff;
        padding: 4px 20px;
        font-size: 18px;
        border-radius: 5px;
      }
    }

    &:hover {
      box-shadow: 5px 7px 67px -28px rgba(0, 0, 0, 0.37);
    }
  }
}
  .thumbposthead {
      width: 100%;
      height: auto;
      float: left;
      background: #fffed0c4;
      border: 1px dashed #2b5db3;
      margin: 1px 0;
      padding: 8px;
      border-radius: 10px;
    }
    .callout {
      padding: 20px;
      margin: 20px 0;
      border: 1px solid #eee;
      border-left-width: 5px;
      border-radius: 3px;
    }
    .callout-default { border-left-color: #777; }
    .callout-primary { border-left-color: #428bca; }
    .callout-success { border-left-color: #5cb85c; }
    .callout-info { border-left-color: #5bc0de; }
    .callout-warning { border-left-color: #f0ad4e; }
    .callout-danger { border-left-color: #d9534f; }
    .callout h4 { margin-top: 0; margin-bottom: 5px; }
    .callout p:last-child { margin-bottom: 0; }
    .alert { display: none; }
  